.Signup {
  width: 80%;
  margin: 0 auto;
  border: 1px solid gray;
  box-sizing: border-box;
  box-shadow: 0 2px 3px #ccc;
  padding: 10px;
  text-align: center;
}

.Signup input {
  display: block;
  font-size: 18px;
  margin: 10px auto;
  padding: 10px;
}

.PasswordCheckContainer {
  display: flex;
  justify-content: center;
}

.PasswordCheckList {
  border: 1px solid red;
  padding: 10px;
}

.PasswordCheckListSuccess {
  border: 1px solid green;
  padding: 10px;
}

.PasswordCheckListSuccess p {
  font-size: small;
  margin: 0;
  text-align: start;
}

.PasswordCheckList p {
  font-size: small;
  margin: 0;
  text-align: start;
}

.Success {
  color: green;
}

.Error {
  color: red;
}
